{% load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'resume.css' %}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>AMIT RAI</h1>
					<h2>Web Application Developer, </h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">amitraikkr760@gmail.com</a></h3>
						<h3>+1 (437) - 221-9118</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Technically savvy, highly motivated, and results-focused IT professional experienced working in fast-paced environment demanding strong organizational, technical, and interpersonal skills. Specialised in developing, implementing and supporting Web Applications.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Technical Solutions</h2>
									<p>Excellent analytical, troubleshooting and problem-solving skills, and experience in designing, developing and supporting web solutions.	</p>
								</div>

								<div class="talent">
									<h2>Customer Focus</h2>
									<p>Expertise in eliciting, collecting, assessing, and developing requirements to map business needs and translate them into functional specifications, services, and implementations.	 </p>
								</div>

								<div class="talent">
									<h2>Project Leadership</h2>
									<p>Proven ability to lead and manage a  variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML5</li>
								<li>CSS3</li>
								<li>JavaScript</li>
								<li class="last">SQL</li>
							</ul>

							<ul class="talent">
								<li>Java</li>
								<li>Python</li>
								<li>Jira</li>
								<li class="last">CVS / Subversion</li>
							</ul>

							<ul class="talent">
								<li>Oracle</li>
								<li>DB2</li>
								<li>Windows XP/Vista</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Reflexis Systems (UK) Ltd., UK</h2>
								<h3>System Analyst</h3>
								<h4>10/2016-07/2018</h4>
								<p>Analyse and implement complex technology solutions for Reflexis Systems clientele. Evaluate client business models, processes, procedures, and existing IT portfolio to determine solution requirements. Coordinate with solution design teams to develop and recommend transformative solutions. Execute gap analyses, prepare technical reports, proposals, and documentation, and focus on effective system issue analysis, troubleshooting, and application support using indecent tracking system (JIRA).  </p>
							</div>

							<div class="job last">
								<h2>Reflexis Systems India Pvt. Ltd., India</h2>
								<h3>Product Lead</h3>
								<h4>07/2006-10/2016</h4>
								<p>Directed activities required to design, develop, implement and support software products. Led a team involved in analysing, investigating, developing solutions for customer issues and problems. Aligned business requirements to technical specifications and coordinated efforts to provide best-in-class solutions. Functioned as developer, designer, mentor, and team lead.  </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->



					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Master of Computer Application</h2>
							<h3> Indira Gandhi Open University, India<strong></strong> </h3>
						</div>
					</div><!--// .yui-gf -->

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Amit Rai &mdash; <a href="mailto:amitraikkr760@gmail.com">amitraikkr760@gmail.com.com</a> &mdash; +1 (437) - 221-9118</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

